[Unit]
Description=espanso

[Service]
ExecStart=/home/francisco/.opt/Espanso.AppImage launcher 
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target

